<div class="ui fluid input">
  <!--<input type="text" placeholder="Search a very wide input..." (click)="changeDate($event)">-->

  <input #textbox id="data" type="text" required placeholder="Enter the date you want to ask here!(YYYYMMDD)">
  <button class="ui button" (click)="changeDate(textbox.value)">
    <i class="search icon"></i>
  </button>
  <!--<button (click)="textValue=''">Clear</button>-->
</div>

<div *ngIf="this.graphLoaded">
  <div echarts [options]="option" class="demo-chart" (chartInit)="onChartInit($event)"></div>
</div>

<div *ngIf="comments">
  <div class="ui grid">
    <div class="six wide column"></div>
    <div class="six wide column">
      <div class="ui card">
        <div class="content">
          <div class="header">Doctor Notes</div>
          <div class="description">
            <p>{{comments}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="five wide column"></div>
  </div>
</div>
